@charset "UTF-8";

/* ********************

OK, lets start with some of my styles

******************** */
body {
	background-color: #899B8B;
	/*background-image: url(../images/bg_vert_rhythm.gif);*/
	background-position: top left;
	background-repeat: repeat;
	
	color: #FFFFFF;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	
	text-transform: uppercase;
	
	line-height: 1.6;
}

h1,
h2 {
	font-weight: 400;
	font-family: "Ropa Sans", "Lucida Sans", "Lucida Sans Unicode", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	letter-spacing: -0.03em;
}

abbr {
	cursor: help;
	padding: 1px;

}
	abbr:hover {
		border-bottom: 1px dotted #617163;
	}

a {
	color: #FFFFFF;
	background-color: #7C8C7F;
	text-decoration: none;
	
	padding: 0px 4px;
	
	border: 1px solid #7C8C7F;
	
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
		
}
a:visited {
}
a:hover,
a:active,
a:focus {
	background-color: #617163;
	border-color: #617163;
	text-shadow: #454E46 1px 1px 3px;
}

a:active {
	outline: 1px dotted #617163;
}

/* ********************

This wraps header and nav

******************** */
.header-container {
	background-color: #899B8B;
	background-image: url(../images/bg_header_mw_500.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: cover;

	height: 1%;
	overflow: hidden;
}
@media (min-width: 500px) {
	.header-container {
		background-image: url(../images/bg_header_mw_1000.jpg);
	}
}
@media (min-width: 1000px) {
	.header-container {
		background-image: url(../images/bg_header.jpg);
		background-position: center left;
	}
}

/* ********************

The header.

******************** */

#header {
	padding: 25px 25px 50px 25px;
	line-height: 1;
}
#header h1 {
	margin: 0;
	font-size: 2.4em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
#header h2 {
	margin: 0;
	font-size: 1em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 600px) {
	#header {
		padding: 49px 60px 97px 60px;
	}
	#header h1 {
		font-size: 3em;
	}
	#header h2 {
		font-size: 1.5em;
	}
}
@media (min-width: 1200px) {
	#header h1 {
		font-size: 4em;
	}
}
	
/* ********************

The nav.

******************** */

#nav {
	border-bottom: 1px solid #606D62;
	font-size: 2em;
	float: left;
	width: 100%;
}

	#nav ul {
		list-style: none;
		margin: 0 0 0 13px;
		padding-left: 0;
	}	
	
	@media (min-width: 600px) {
		#nav ul {
			margin-left: 60px;
		}
	}
	
		#nav ul li {
			float: left;

			list-style: none;
			margin: 0;
			padding: 0;

		}
		#nav ul li a {
			display: block;
			min-width: 125px;
			padding: 0 10px;
			text-align: center;
			
			border: none;
			border-radius: 0;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			
			font-family: "Ropa Sans", "Lucida Sans", "Lucida Sans Unicode", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
			text-transform: uppercase;
			
			position: relative;
			top: 1px;
		}
		#nav ul li a.current {
			background-color: #899B8B;
			
			margin-bottom: -1px;
			padding-bottom: 0;
			border: 1px solid #606D62;	
			border-bottom: 1px solid #899B8B;
			
			text-shadow: #454E46 1px 1px 3px;
			
			top: 0;
		}
		#nav ul li a.current:hover {
			cursor: default;
		}
	
/* ********************

The content.

******************** */

.content {
	float: left;
	padding: 25px;
}

@media (min-width: 600px) {

	.content {
		padding: 25px 60px 0 60px;
	}

}

	.content h3,
	.content h4,
	.content p,
	.content ul,
	.content li {
		font-size: 1em;
		margin: 0;
		padding: 0;
		line-height: 1.5;
	}
	.content a {
		font-size: 1em;
	}
	
	.content h3,
	.content h4 {
		text-shadow: #778A79 1px 1px 3px;	
	}
	

@media (min-width: 600px) {
	
	.content h3.inline,
	.content h4 {
		float: left;
		padding-left: 10px;
		padding-right: 0.4em;		
	}

}
	
	.content p {
		text-transform: none;
		max-width: 660px;
		margin-bottom: 1.5em;
	}
	.content ul {
		margin-top: 1.5em;
	}
	.content li {
		list-style: none;
		text-transform: none;
		margin-bottom: 0.5em;
	}
		.content li a {
			text-transform: uppercase;
		}
	
/* ********************

The footer.

******************** */

#footer {
	clear: both;
	border-top: 1px solid #899B8B;
}