@charset "UTF-8";

/* ********************

OK, lets start with some of my styles

******************** */
* {
  box-sizing: border-box;
  transition: all 0.25s ease-out;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #899b8b;
  background-image: url(../images/bg_header_mw_500.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: #ffffff;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;

  text-transform: uppercase;
  line-height: 1.6;

  position: relative;
}
@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
    background-image: url(../images/bg_header_mw_1000.jpg);
  }
}
@media (min-width: 1000px) {
  body {
    background-image: url(../images/bg_header.jpg);
  }
}
h1,
h2 {
  font-weight: 400;
  font-family: "Ropa Sans", "Lucida Sans", "Lucida Sans Unicode", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.03em;
}

abbr,
abbr[title] {
  cursor: help;
  padding: 1px;
  border-bottom: none;
  text-decoration: none;
}
abbr[title]:hover,
abbr[title]:focus {
  border-bottom: 1px dotted #617163;
}

a {
  color: #ffffff;
  background-color: #7c8c7f;
  text-decoration: none;

  padding: 0 0.25rem;

  border: 0.0625rem solid #7c8c7f;

  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/*
a:visited {
}
*/
a:hover,
a:active,
a:focus {
  background-color: #617163;
  border-color: #617163;
  text-shadow: #454e46 1px 1px 3px;
}
a:active {
  outline: 1px dotted #617163;
}

a.cta {
  padding: 6px 12px;
}

a.image {
  display: block;
  padding: 0;
  overflow: hidden;
  border-color: transparent;
  background-color: transparent;
}
a.image:hover,
a.image:active,
a.image:focus {
  background-color: #617163;
  border-color: #617163;
}
a.image img {
  vertical-align: bottom;
}

/* ********************

The header.

******************** */
.header:before,
.header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header {
  display: block;
  padding: 1rem 1rem 1.5rem;
  line-height: 1;
}
.header h1,
.header h2 {
  text-align: left;
}
.header h1 {
  margin: 0;
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
}
.header h2 {
  margin: 0;
  font-size: 1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
}
.header .profile-shot {
  float: right;
  margin: 0 0 1rem 1rem;
  border-radius: 50%;
  border: 1px solid #606d62;
  max-width: 50px;
  height: auto;
}
@media (min-width: 400px) {
  .header h1 {
    font-size: 2.4em;
  }
  .header .profile-shot {
    max-width: 65px;
  }
}
@media (min-width: 750px) {
  .header {
    padding: 50px 60px;
  }
  .header h1 {
    font-size: 3em;
  }
  .header h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) {
  .header h1 {
    font-size: 4em;
  }
}

/* ********************

The content.

******************** */

.content-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 1rem 1rem;
}
@media (min-width: 1000px) {
  .content-container {
    padding: 0 2rem 2rem;
  }
}

.content {
  flex-basis: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: rgba(82, 94, 80, 0.85);
  border: 1px solid rgba(76, 83, 73, 0.95);
  border-radius: 0.15rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "Title" "Intro";
}

.content .part1 {
  grid-area: Title;
}
.content .part2 {
  grid-area: Intro;
}
.content .part3 {
  grid-area: Island;
}
.content .part4 {
  grid-area: Gallery;
}

.content .part1 {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  padding: 0 0 1rem;
}
.content .part2 {
  padding: 1rem 0;
}
.content .part2 p {
  max-width: 37.5rem;
}
.content .part3 {
  margin: 0 2rem;
  padding: 1rem 0;
}

@media (min-width: 450px) {
  .content .part3 {
    margin: 0 auto;
    max-width: 200px;
  }
}

@media (min-width: 750px) {
  .content {
    padding: 2rem 60px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "Title Intro";
  }
  .content .part1 {
    border-right: 0.15rem solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    padding: 1rem 2rem 1rem 0;
  }
  .content .part2 {
    padding: 1rem 2rem;
  }
  .content .part3 {
    margin: 0 2rem 0 auto;
  }
}

.content h3,
.content h4,
.content p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.content a,
.content a:link {
  font-size: 1em;
}
.content h3,
.content h4 {
  font-family: "Ropa Sans", "Lucida Sans", "Lucida Sans Unicode", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.2;
}

@media (min-width: 600px) {
  .content h3,
  .content h4 {
    font-size: 1.5em;
  }
}

.content p {
  text-transform: none;
  margin-bottom: 1rem;
}
.content p:last-child {
  margin-bottom: 0;
}

.content img {
  max-width: 100%;
  height: auto;
}

.content.content-three {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "Title" "Island" "Intro";
}
@media (min-width: 450px) {
  .content.content-three {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 2fr;
    grid-template-areas: "Title Island" "Intro Island";
  }
  .content.content-three .part3 {
    padding-left: 1rem;
  }
}
@media (min-width: 750px) {
  .content.content-three {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Title Intro Island";
  }
  .content.content-three .part3 {
    margin-right: 0;
  }
}

.content.content-four {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "Title" "Intro" "Island" "Gallery";
}
.content.content-four .part4 {
  margin: 0;
}
@media (min-width: 750px) {
  .content.content-four {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "Title Intro Island" "Title Gallery Gallery";
  }
}

.content.content-one {
  display: block;
}

.elsewhere {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  margin: -1rem -1rem 0;
  padding: 0;
  list-style: none;
}
.elsewhere-item {
  flex-basis: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.elsewhere-item a {
  flex-basis: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.elsewhere-item span {
  flex-basis: 100%;
  margin-left: 1.5rem;
  padding-top: 0.5rem;
  text-transform: none;
}
.elsewhere-item span::before {
  margin-left: -1.5rem;
  content: "—";
  display: inline-block;
  width: 1.5rem;
}
@media (min-width: 450px) {
  .elsewhere {
    margin-top: -2rem;
  }
  .elsewhere-item {
    flex-basis: 50%;
    margin-top: 1rem;
  }
}
@media (min-width: 650px) {
  .elsewhere-item {
    flex-basis: 33.33333%;
  }
  .elsewhere-item span {
    margin-left: 0;
  }
  .elsewhere-item span::before {
    display: none;
  }
}

.vi-map {
  width: 100%;
  height: auto;
}

.separator {
  margin-top: 0;
  margin-bottom: 1.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);
  height: 2.25rem;
  border: none transparent;
  background-color: transparent;
  background-image: url("../images/forest-separator.svg"),
    linear-gradient(
      rgba(42, 50, 43, 0) 0,
      rgba(42, 50, 43, 0) 2rem,
      rgba(42, 50, 43, 1) 2rem,
      rgba(42, 50, 43, 0) 100%
    );
  background-position: top left, bottom left;
  background-size: 136px 32px, auto;
  background-repeat: repeat-x, repeat-x;
}
@media (min-width: 1000px) {
  .separator {
    margin-left: -2rem;
    margin-right: -2rem;
    width: calc(100% + 4rem);
  }
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin: 0;
}
  .gallery li {
    flex-basis: 50%;
    padding: 1rem;
  }
  @media (min-width: 750px) {
    .gallery {
      flex-wrap: nowrap;
    }
    .gallery li {
      flex-basis: 25%;
    }
  }

/* ********************

The footer.

******************** */

footer {
  clear: both;
  text-align: center;

  margin-bottom: 57px;
}

.decorative {
  display: block;
  opacity: 0.9;
  width: 100%;
  height: 57px;
  background-position: bottom center;
  background-size: 350px 57px;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg width="1501px" height="244px" viewBox="0 0 1501 244" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient x1="50%" y1="14.846506%" x2="50%" y2="100%" id="linearGradient-1"><stop stop-color="%2391AC94" offset="0%"></stop><stop stop-color="%236F7B70" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-2"><stop stop-color="%23FFFFFF" offset="0%"></stop><stop stop-color="%23DFDFDF" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0.680954392%" x2="50%" y2="100%" id="linearGradient-3"><stop stop-color="%23627264" offset="0%"></stop><stop stop-color="%238D9C8F" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-4"><stop stop-color="%23718874" offset="0%"></stop><stop stop-color="%23374039" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-5"><stop stop-color="%23BECBBF" offset="0%"></stop><stop stop-color="%23899B8B" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0%" x2="50%" y2="99.5750633%" id="linearGradient-6"><stop stop-color="%23627264" offset="0%"></stop><stop stop-color="%23526B55" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-7"><stop stop-color="%23718874" offset="0%"></stop><stop stop-color="%23AABDAC" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0.960726351%" x2="50%" y2="100%" id="linearGradient-8"><stop stop-color="%23627564" offset="0%"></stop><stop stop-color="%234D5F4F" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0%" x2="50%" y2="99.7784782%" id="linearGradient-9"><stop stop-color="%23FFFFFF" offset="0%"></stop><stop stop-color="%23505E52" offset="99.9445735%"></stop></linearGradient></defs><g id="Fixed" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Fuji" transform="translate(350.000000, 1.436406)"><polygon id="Back" fill="url(%23linearGradient-1)" points="1.13686838e-13 242.563594 144 186.791307 234 97.8906316 331 48.9453158 399 -5.68434189e-14 463 48.9453158 546 84.9051397 669 146.835947 747 203.772335 800 242.563594"></polygon><polygon id="Snowcap" stroke="%23A3BDA6" fill="url(%23linearGradient-2)" points="332 49.0330152 399.058837 -5.68434189e-14 462 49.0330152 453.070781 58.0390792 438.067463 49.0330152 431.065915 58.0390792 415.062376 49.0330152 399.058837 65.0437956 391.057067 58.0390792 383.055298 65.0437956 375 42.5635944 363.050874 58.0390792 353.048662 49.0330152 340.045786 65.0437956"></polygon></g><g id="Mountains" transform="translate(0.000000, 74.436406)"><path d="M1151,84.5635944 L1196,97.2817972 L1281,55 L1326,97.2817972 L1394,144.563594 L1501,169.563594 L1151,169.563594 L351,169.563594 L737,153 L774,110 L858,84.5 L909,40 L985,0 L1051,54 L1151,84.5635944 Z" id="Combined-Shape" fill="url(%23linearGradient-3)"></path><polygon id="Mid5" fill="url(%23linearGradient-4)" points="350 169.563594 385 144 457 137 532 123 635 76 719 32 765 2.84217094e-14 826 10 856 41 898 76 923 107 1009 129.5 1034 160 1150 169.563594"></polygon><polygon id="Mid4" fill="url(%23linearGradient-5)" points="350 169.563594 350 129.5 424 96 508 55 586 62 686 25 732 62 827 102 889 153 1150 169.563594"></polygon><path d="M350,169.563594 L13,169.563594 L98,146.563594 L124,112 L191,66.5635944 L267,76 L292,104.563594 L350,75.5635944 L436,55 L516,112 L615,97 L673,153 L1150,169.563594 L350,169.563594 Z" id="Combined-Shape" fill="url(%23linearGradient-6)"></path><path d="M350,169.563594 L0,169.563594 L78,129.5 L156,112 L212,121.063594 L263,90 L311,84.5 L350,90 L438,104 L495,137 L597,153 L1150,169 L350,169.563594 Z" id="Combined-Shape" fill="url(%23linearGradient-7)"></path><path d="M1150,62.5635944 L1179,43.5635944 L1204,49.5 L1221,70.5635944 L1281,79.5635944 L1334,130.781797 L1384,123.563594 L1432,151.563594 L1500,169.563594 L1150,169.563594 L350,169.563594 L720,164.563594 L814,120.563594 L882,105.563594 L946,72.5635944 L990,86.0635944 L1060,105.563594 L1122,91.5635944 L1150,62.5635944 Z" id="Combined-Shape" fill="url(%23linearGradient-8)"></path></g><g id="Trees" transform="translate(640.000000, 147.000000)"><path d="M192,55.6622259 L192,61 L187,61 L187,55.6622259 L176.194118,54.2022472 L170,52.7640449 C172.141176,51.8052434 175.2,50.7265918 179.176471,49.5280899 C183.152941,48.329588 183.747085,46.8913858 180.958903,45.2134831 L174.358824,45.2134831 C175.888235,44.494382 179.113482,43.4157303 184.034563,41.9775281 C188.955644,40.5393258 189.630398,39.340824 186.058824,38.3820225 L178.208743,38.3820225 C179.312718,37.6629213 181.254658,37.0636704 184.034563,36.5842697 C186.814468,36.1048689 188.100159,34.906367 187.891635,32.988764 C182.846231,34.4269663 181.560541,34.4269663 184.034563,32.988764 C186.508586,31.5505618 188.330398,28.5543071 189.5,24 C190.669602,28.5543071 192.491414,31.5505618 194.965437,32.988764 C197.439459,34.4269663 196.153769,34.4269663 191.108365,32.988764 C190.899841,34.906367 192.185532,36.1048689 194.965437,36.5842697 C197.745342,37.0636704 199.687282,37.6629213 200.791257,38.3820225 L192.941176,38.3820225 C189.369602,39.340824 190.044356,40.5393258 194.965437,41.9775281 C199.886518,43.4157303 203.111765,44.494382 204.641176,45.2134831 L198.041097,45.2134831 C195.252915,46.8913858 195.847059,48.329588 199.823529,49.5280899 C203.8,50.7265918 206.858824,51.8052434 209,52.7640449 L202.805882,54.2022472 L192,55.6622259 Z" id="Tree-Copy" fill="%23435646" transform="translate(189.500000, 42.500000) rotate(2.000000) translate(-189.500000, -42.500000) "></path><path d="M135,57.4462741 L135,66 L128,66 L128,57.4462741 L114.1,55.247191 L106,53.0449438 C108.8,51.576779 112.8,49.9250936 118,48.0898876 C123.2,46.2546816 123.976958,44.0524345 120.330873,41.4831461 L111.7,41.4831461 C113.7,40.3820225 117.91763,38.7303371 124.35289,36.5280899 C130.78815,34.3258427 131.67052,32.4906367 127,31.0224719 L116.734511,31.0224719 C118.17817,29.9213483 120.71763,29.0037453 124.35289,28.2696629 C127.98815,27.5355805 129.669438,25.7003745 129.396754,22.7640449 C122.798918,24.9662921 121.11763,24.9662921 124.35289,22.7640449 C127.58815,20.5617978 129.97052,15.9737828 131.5,9 C133.02948,15.9737828 135.41185,20.5617978 138.64711,22.7640449 C141.88237,24.9662921 140.201082,24.9662921 133.603246,22.7640449 C133.330562,25.7003745 135.01185,27.5355805 138.64711,28.2696629 C142.28237,29.0037453 144.82183,29.9213483 146.265489,31.0224719 L136,31.0224719 C131.32948,32.4906367 132.21185,34.3258427 138.64711,36.5280899 C145.08237,38.7303371 149.3,40.3820225 151.3,41.4831461 L142.669127,41.4831461 C139.023042,44.0524345 139.8,46.2546816 145,48.0898876 C150.2,49.9250936 154.2,51.576779 157,53.0449438 L148.9,55.247191 L135,57.4462741 Z" id="Tree" fill="%23505E52"></path><path d="M92,2.67773387 L92,1 L92.5,1.83886693 L93,1 L93,2.67773387 L98.9320599,12.6301517 C98.3051672,15.3438538 99.82247,18.0575559 103.483968,20.7712579 C107.145467,23.48496 106.363905,24.3572214 101.139283,23.3880421 C97.4233702,23.9695496 97.8005475,24.6479752 102.270815,25.4233186 C106.741082,26.1986621 110.019494,27.5555131 112.106052,29.4938717 C108.095796,30.2692152 104.817383,30.2692152 102.270815,29.4938717 C98.450962,28.3308565 98.881038,32.6921634 107.154108,32.9829172 C115.427178,33.273671 121.87814,41.1240234 119.501469,40.8332696 C117.124799,40.5425158 104.393046,43.4500538 102.270815,40.8332696 C100.148584,38.2164855 96.0816398,43.4500538 97.7755874,44.9038227 C99.4695349,46.3575917 99.965527,44.3223152 108.035877,48.3928683 C116.106226,52.4634214 117.803848,55.6617131 115.087653,56.2432207 C112.371459,56.8247283 108.919839,59.1507586 98.9320599,56.2432207 C88.9442812,53.3356827 95.0630669,58.8600048 97.7755874,59.4415124 C100.488108,60.02302 104.108709,62.3120697 106.712225,62.7666907 C109.31574,63.2213117 102.532602,62.8935773 97.7755874,62.7666907 C95.5940631,62.7085016 94.0022006,62.6903401 93,62.7122059 L93,62.7666907 C92.8753344,62.7511608 92.7086678,62.7384819 92.5,62.7286542 C92.2913322,62.7384819 92.1246656,62.7511608 92,62.7666907 L92,62.7122059 C90.9977994,62.6903401 89.4059369,62.7085016 87.2244126,62.7666907 C82.4673982,62.8935773 75.68426,63.2213117 78.2877755,62.7666907 C80.8912909,62.3120697 84.5118921,60.02302 87.2244126,59.4415124 C89.9369331,58.8600048 96.0557188,53.3356827 86.0679401,56.2432207 C76.0801613,59.1507586 72.6285412,56.8247283 69.9123466,56.2432207 C67.1961521,55.6617131 68.8937737,52.4634214 76.9641233,48.3928683 C85.034473,44.3223152 85.5304651,46.3575917 87.2244126,44.9038227 C88.9183602,43.4500538 84.8514165,38.2164855 82.7291852,40.8332696 C80.606954,43.4500538 67.8752008,40.5425158 65.4985306,40.8332696 C63.1218604,41.1240234 69.5728223,33.273671 77.8458922,32.9829172 C86.118962,32.6921634 86.549038,28.3308565 82.7291852,29.4938717 C80.1826167,30.2692152 76.9042043,30.2692152 72.8939481,29.4938717 C74.9805056,27.5555131 78.2589179,26.1986621 82.7291852,25.4233186 C87.1994525,24.6479752 87.5766298,23.9695496 83.860717,23.3880421 C78.6360952,24.3572214 77.8545334,23.48496 81.5160317,20.7712579 C85.17753,18.0575559 86.6948328,15.3438538 86.0679401,12.6301517 L92,2.67773387 Z" id="Tree2" fill="%23697B6B" transform="translate(92.500000, 32.000000) rotate(-2.000000) translate(-92.500000, -32.000000) "></path><path d="M15,18.3677696 L15,16 L15.5,17.1838848 L16,16 L16,18.3677696 L18.9611771,25.3791546 C18.6029527,27.567624 19.4699829,29.7560934 21.5622676,31.9445628 C23.6545523,34.1330323 23.2079456,34.8364688 20.2224474,34.0548726 C18.0990687,34.5238304 18.3145986,35.0709477 20.869037,35.6962247 C23.4234755,36.3215017 25.296854,37.4157364 26.4891725,38.9789288 C24.1975975,39.6042058 22.324219,39.6042058 20.869037,38.9789288 C18.686264,38.0410133 18.9320217,41.5581963 23.6594902,41.7926752 C28.3869587,42.027154 32.0732227,48.3580834 30.7151254,48.1236045 C29.3570281,47.8891257 22.0817406,50.2339143 20.869037,48.1236045 C19.6563335,46.0132948 17.3323656,50.2339143 18.3003356,51.4063087 C19.2683057,52.578703 19.5517297,50.9373509 24.1633581,54.220055 C28.7749865,57.5027592 29.7450559,60.0820267 28.1929448,60.5509844 C26.6408336,61.0199421 24.6684792,62.8957731 18.9611771,60.5509844 C17.2351147,59.8418487 16.3508662,59.7546595 16,59.9910581 L16,60.9814908 C16.4438682,61.8378074 17.5814473,62.9127515 18.3003356,63.1302519 C19.8503473,63.5992097 21.9192623,65.4452175 23.4069855,65.8118473 C24.8947086,66.1784772 21.0186296,65.9141752 18.3003356,65.8118473 C17.3289633,65.7752808 16.5621848,65.7583147 16,65.7609489 L16,65.8118473 C15.8902741,65.7925566 15.7236075,65.7787209 15.5,65.7703401 C15.2763925,65.7787209 15.1097259,65.7925566 15,65.8118473 L15,65.7609489 C14.4378152,65.7583147 13.6710367,65.7752808 12.6996644,65.8118473 C9.98137039,65.9141752 6.10529142,66.1784772 7.59301455,65.8118473 C9.08073767,65.4452175 11.1496527,63.5992097 12.6996644,63.1302519 C13.4185527,62.9127515 14.5561318,61.8378074 15,60.9814908 L15,59.9910579 C14.6491338,59.7546595 13.7648853,59.8418487 12.0388229,60.5509844 C6.33152076,62.8957731 4.35916637,61.0199421 2.80705522,60.5509844 C1.25494407,60.0820267 2.22501354,57.5027592 6.83664191,54.220055 C11.4482703,50.9373509 11.7316943,52.578703 12.6996644,51.4063087 C13.6676344,50.2339143 11.3436665,46.0132948 10.130963,48.1236045 C8.91825942,50.2339143 1.64297186,47.8891257 0.284874602,48.1236045 C-1.07322265,48.3580834 2.61304133,42.027154 7.34050982,41.7926752 C12.0679783,41.5581963 12.313736,38.0410133 10.130963,38.9789288 C8.67578096,39.6042058 6.80240247,39.6042058 4.5108275,38.9789288 C5.70314604,37.4157364 7.57652453,36.3215017 10.130963,35.6962247 C12.6854014,35.0709477 12.9009313,34.5238304 10.7775526,34.0548726 C7.7920544,34.8364688 7.34544768,34.1330323 9.43773241,31.9445628 C11.5300171,29.7560934 12.3970473,27.567624 12.0388229,25.3791546 L15,18.3677696 Z" id="Tree2-Copy" fill="%23505E52"></path><path d="M57,52.6622259 L57,58 L52,58 L52,52.6622259 L41.1941176,51.2022472 L35,49.7640449 C37.1411765,48.8052434 40.2,47.7265918 44.1764706,46.5280899 C48.1529412,45.329588 48.7470854,43.8913858 45.9589032,42.2134831 L39.3588235,42.2134831 C40.8882353,41.494382 44.1134818,40.4157303 49.0345631,38.9775281 C53.9556444,37.5393258 54.6303979,36.340824 51.0588235,35.3820225 L43.2087435,35.3820225 C44.3127184,34.6629213 46.2546583,34.0636704 49.0345631,33.5842697 C51.8144679,33.1048689 53.1001586,31.906367 52.8916352,29.988764 C47.8462313,31.4269663 46.5605406,31.4269663 49.0345631,29.988764 C51.5085856,28.5505618 53.3303979,25.5543071 54.5,21 C55.6696021,25.5543071 57.4914144,28.5505618 59.9654369,29.988764 C62.4394594,31.4269663 61.1537687,31.4269663 56.1083648,29.988764 C55.8998414,31.906367 57.1855321,33.1048689 59.9654369,33.5842697 C62.7453417,34.0636704 64.6872816,34.6629213 65.7912565,35.3820225 L57.9411765,35.3820225 C54.3696021,36.340824 55.0443556,37.5393258 59.9654369,38.9775281 C64.8865182,40.4157303 68.1117647,41.494382 69.6411765,42.2134831 L63.0410968,42.2134831 C60.2529146,43.8913858 60.8470588,45.329588 64.8235294,46.5280899 C68.8,47.7265918 71.8588235,48.8052434 74,49.7640449 L67.8058824,51.2022472 L57,52.6622259 Z" id="Tree" fill-opacity="0.9" fill="%23505E52"></path></g><g id="Foothills" transform="translate(0.000000, 158.436406)"><g id="Back-Forest" transform="translate(426.782984, 6.563594)" fill="%23505E52" fill-opacity="0.5"><polygon id="Path-Copy-5" transform="translate(86.000000, 44.900939) rotate(-3.000000) translate(-86.000000, -44.900939) " points="1 55.3182619 8.663963 30.1844037 14.3333333 49.365506 20.8180853 23.9009391 30.8079816 49.365506 32.9722077 37.4599942 41.9802506 49.365506 53.1525196 44.7355848 55.9909824 55.3182619 68.5 30.1844037 68.5 49.365506 77.6666667 37.4599942 85.1666667 55.3182619 93.5 31.837947 101 49.365506 112.666667 30.1844037 122.666667 49.365506 136 31.837947 145.166667 55.3182619 156 31.837947 156 55.3182619 171 39.6096005 171 55.3182619 171 65.9009391 1 65.9009391"></polygon><polygon id="Path-Copy-3" points="151.217016 41.1417323 158.520322 8.22834646 163.922899 33.3464567 170.102486 0 179.622269 33.3464567 181.68465 17.7559055 190.268785 33.3464567 200.9153 27.2834646 203.620188 41.1417323 215.540546 8.22834646 215.540546 33.3464567 224.27584 17.7559055 231.422899 41.1417323 239.364075 10.3937008 246.511134 33.3464567 257.628781 8.22834646 267.158193 33.3464567 279.864075 10.3937008 288.599369 41.1417323 298.922899 10.3937008 298.922899 41.1417323 313.217016 20.5708661 313.217016 41.1417323 313.217016 55 151.217016 55"></polygon><polygon id="Path-Copy-4" points="306.217016 44.4173228 314.557211 19.2834646 320.72682 38.4645669 327.783756 13 338.655114 38.4645669 341.010301 26.5590551 350.813171 38.4645669 362.971229 33.8346457 366.060144 44.4173228 379.672899 19.2834646 379.672899 38.4645669 389.648389 26.5590551 397.810154 44.4173228 406.878781 20.9370079 415.040546 38.4645669 427.736624 19.2834646 438.618977 38.4645669 453.128781 20.9370079 463.104271 44.4173228 474.893487 20.9370079 474.893487 44.4173228 491.217016 28.7086614 491.217016 44.4173228 491.217016 55 306.217016 55"></polygon><polygon id="Path-Copy-6" transform="translate(619.400883, 43.166865) rotate(3.000000) translate(-619.400883, -43.166865) " points="521.400883 53.0881251 530.236982 29.1511172 536.773432 47.4188337 544.24997 23.1668652 555.767733 47.4188337 558.262958 36.0802511 568.648702 47.4188337 581.529671 43.0093849 584.802251 53.0881251 599.224413 29.1511172 599.224413 47.4188337 609.79304 36.0802511 618.440099 53.0881251 628.047942 30.7259204 636.695001 47.4188337 650.145981 29.1511172 661.675393 47.4188337 677.047942 30.7259204 687.61657 53.0881251 700.106766 30.7259204 700.106766 53.0881251 717.400883 38.1274952 717.400883 53.0881251 717.400883 63.1668652 521.400883 63.1668652"></polygon></g><g id="Front-forest" transform="translate(273.792366, 0.563594)" fill="%23414D42"><polygon id="Path" points="328.207634 55 334.924872 17 339.893909 46 345.577603 7.5 354.333453 46 356.230334 28 364.125619 46 373.917784 39 376.405613 55 387.369399 17 387.369399 46 395.403713 28 401.977242 55 409.281164 19.5 415.854693 46 426.080183 17 434.844889 46 446.531164 19.5 454.565477 55 464.060575 19.5 464.060575 55 477.207634 31.25 477.207634 55 477.207634 71 328.207634 71"></polygon><polygon id="Path-Copy-3" points="341.207634 55 347.338805 17 351.874301 46 357.062103 7.5 365.05402 46 366.7854 28 373.991835 46 382.92965 39 385.20042 55 395.207634 17 395.207634 46 402.540968 28 408.540968 55 415.207634 19.5 421.207634 46 430.540968 17 438.540968 46 449.207634 19.5 456.540968 55 465.207634 19.5 465.207634 55 477.207634 31.25 477.207634 55 477.207634 71 341.207634 71"></polygon><polygon id="Path-Copy-3" points="459.207634 52.3622047 464.978148 10.4724409 469.24685 42.4409449 474.129487 0 481.651291 42.4409449 483.280826 22.5984252 490.063352 42.4409449 498.475414 34.7244094 500.612609 52.3622047 510.031164 10.4724409 510.031164 42.4409449 516.933124 22.5984252 522.580183 52.3622047 528.854693 13.2283465 534.501752 42.4409449 543.286066 10.4724409 550.815477 42.4409449 560.854693 13.2283465 567.756654 52.3622047 575.913517 13.2283465 575.913517 52.3622047 587.207634 26.1811024 587.207634 52.3622047 587.207634 70 459.207634 70"></polygon><polygon id="Path" transform="translate(266.130618, 50.296397) scale(-1, 1) rotate(1.000000) translate(-266.130618, -50.296397) " points="191.630618 62.6979715 198.347856 32.7767116 203.316892 55.6113573 209.000587 25.2963967 217.756437 55.6113573 219.653317 41.4381289 227.548602 55.6113573 237.340767 50.0995463 239.828596 62.6979715 250.792382 32.7767116 250.792382 55.6113573 258.826696 41.4381289 265.400226 62.6979715 272.704147 34.7452156 279.277677 55.6113573 289.503167 32.7767116 298.267873 55.6113573 309.954147 34.7452156 317.988461 62.6979715 327.483559 34.7452156 327.483559 62.6979715 340.630618 43.9971841 340.630618 62.6979715 340.630618 75.2963967 191.630618 75.2963967"></polygon><polygon id="Path-Copy" transform="translate(661.077036, 43.659711) scale(-1, 1) rotate(-2.000000) translate(-661.077036, -43.659711) " points="570.077036 56.8053804 578.281985 25.088845 584.351546 49.2935694 591.294045 17.1597111 601.989111 49.2935694 604.306106 34.2699473 613.95001 49.2935694 625.91091 43.4510497 628.949735 56.8053804 642.341742 25.088845 642.341742 49.2935694 652.155468 34.2699473 660.184879 56.8053804 669.106448 27.1754591 677.13586 49.2935694 689.626056 25.088845 700.331938 49.2935694 714.606448 27.1754591 724.420173 56.8053804 736.018213 27.1754591 736.018213 56.8053804 752.077036 36.9825458 752.077036 56.8053804 752.077036 70.1597111 570.077036 70.1597111"></polygon><polygon id="Path-Copy-2" transform="translate(804.489635, 51.591377) rotate(3.000000) translate(-804.489635, -51.591377) " points="744.989635 59.7764161 750.354409 40.0283846 754.322968 55.0992507 758.862295 35.0913767 765.855222 55.0992507 767.37018 45.74492 773.67581 55.0992507 781.496399 51.4614555 783.483323 59.7764161 792.239635 40.0283846 792.239635 55.0992507 798.656301 45.74492 803.906301 59.7764161 809.739635 41.3275972 814.989635 55.0992507 823.156301 40.0283846 830.156301 55.0992507 839.489635 41.3275972 845.906301 59.7764161 853.489635 41.3275972 853.489635 59.7764161 863.989635 47.4338964 863.989635 59.7764161 863.989635 68.0913767 744.989635 68.0913767"></polygon><polygon id="Path-Copy" transform="translate(150.000000, 58.471630) scale(-1, 1) rotate(2.000000) translate(-150.000000, -58.471630) " points="96 68.3928897 100.868871 44.4558818 104.470588 62.7235983 108.590313 38.4716298 114.936835 62.7235983 116.311755 51.3850157 122.034512 62.7235983 129.132189 58.3141495 130.935448 68.3928897 138.882353 44.4558818 138.882353 62.7235983 144.705882 51.3850157 149.470588 68.3928897 154.764706 46.0306849 159.529412 62.7235983 166.941176 44.4558818 173.294118 62.7235983 181.764706 46.0306849 187.588235 68.3928897 194.470588 46.0306849 194.470588 68.3928897 204 53.4322597 204 68.3928897 204 78.4716298 96 78.4716298"></polygon><polygon id="Path-Copy-7" transform="translate(82.581461, 61.486246) rotate(-4.000000) translate(-82.581461, -61.486246) " points="28.5814612 68.4311274 33.4503318 51.6752219 37.0520494 64.4626235 41.1717742 47.4862455 47.5182965 64.4626235 48.8932166 56.5256156 54.6159733 64.4626235 61.7136501 61.3760093 63.5169088 68.4311274 71.4638141 51.6752219 71.4638141 64.4626235 77.2873435 56.5256156 82.0520494 68.4311274 87.346167 52.7775841 92.1108729 64.4626235 99.5226376 51.6752219 105.875579 64.4626235 114.346167 52.7775841 120.169696 68.4311274 127.052049 52.7775841 127.052049 68.4311274 136.581461 57.9586865 136.581461 68.4311274 136.581461 75.4862455 28.5814612 75.4862455"></polygon><polygon id="Path-Copy-8" transform="translate(44.623319, 62.444959) scale(-1, 1) rotate(5.000000) translate(-44.623319, -62.444959) " points="1.62331948 69.3898406 5.50038311 52.6339351 8.36841752 65.4213366 11.6489391 48.4449587 16.7026514 65.4213366 17.7974951 57.4843288 22.3545051 65.4213366 28.0063588 62.3347225 29.442287 69.3898406 35.7703783 52.6339351 35.7703783 65.4213366 40.4076332 57.4843288 44.2017509 69.3898406 48.4174371 53.7362973 52.2115548 65.4213366 58.1135156 52.6339351 63.1723391 65.4213366 69.9174371 53.7362973 74.554692 69.3898406 80.0350842 53.7362973 80.0350842 69.3898406 87.6233195 58.9173996 87.6233195 69.3898406 87.6233195 76.4449587 1.62331948 76.4449587"></polygon><polygon id="Path-Copy" transform="translate(908.724400, 60.228519) scale(-1, 1) rotate(-7.000000) translate(-908.724400, -60.228519) " points="865.7244 65.6852116 869.601463 52.5198573 872.469498 62.5671014 875.750019 49.2285187 880.803732 62.5671014 881.898575 56.3308809 886.455585 62.5671014 892.107439 60.1419045 893.543367 65.6852116 899.871459 52.5198573 899.871459 62.5671014 904.508713 56.3308809 908.302831 65.6852116 912.518517 53.385999 916.312635 62.5671014 922.214596 52.5198573 927.273419 62.5671014 934.018517 53.385999 938.655772 65.6852116 944.136164 53.385999 944.136164 65.6852116 951.7244 57.4568651 951.7244 65.6852116 951.7244 71.2285187 865.7244 71.2285187"></polygon><polygon id="Path-Copy-9" transform="translate(878.332380, 60.160217) scale(-1, 1) rotate(-2.000000) translate(-878.332380, -60.160217) " points="835.33238 67.1050988 839.209444 50.3491933 842.077478 63.1365949 845.358 46.160217 850.411712 63.1365949 851.506556 55.199587 856.063566 63.1365949 861.715419 60.0499807 863.151348 67.1050988 869.479439 50.3491933 869.479439 63.1365949 874.116694 55.199587 877.910811 67.1050988 882.126498 51.4515555 885.920615 63.1365949 891.822576 50.3491933 896.8814 63.1365949 903.626498 51.4515555 908.263753 67.1050988 913.744145 51.4515555 913.744145 67.1050988 921.33238 56.6326579 921.33238 67.1050988 921.33238 74.160217 835.33238 74.160217"></polygon></g><path d="M0,85.5635944 L1500,85.5635944 C1171.97432,64.230261 921.974321,53.5635944 750,53.5635944 C578.025679,53.5635944 328.025679,64.230261 0,85.5635944 Z" id="Foreground" fill="%23505E52"></path></g><g id="Boids" transform="translate(607.871087, 9.000000)"><g id="Eagle" transform="translate(29.623503, 18.878595) rotate(-13.000000) translate(-29.623503, -18.878595) translate(2.123503, 6.878595)" fill="%23A3BDA6"><path d="M29.4679846,19.3717935 C27.4868582,14.0062337 29.6357976,10.1607594 35.9148026,7.83537076 C42.1938076,5.50998208 47.9014294,5.30429934 53.037668,7.21832253 C43.4984566,3.77781384 36.7092652,3.26581474 32.6700939,5.68232522 C27.9489062,8.50686483 26.8815364,13.0700209 29.4679846,19.3717935 Z" id="Wing2" transform="translate(40.566245, 11.779300) rotate(21.000000) translate(-40.566245, -11.779300) "></path><path d="M3.36003282,19.5683176 C1.37890647,14.2027578 3.5278458,10.3572835 9.80685083,8.03189483 C16.0858559,5.70650614 21.7934777,5.5008234 26.9297163,7.41484659 C17.3905049,3.9743379 10.6013135,3.4623388 6.5621421,5.87884929 C1.84095444,8.70338889 0.773584682,13.266545 3.36003282,19.5683176 Z" id="Wing1" transform="translate(14.458293, 11.975824) scale(-1, 1) rotate(21.000000) translate(-14.458293, -11.975824) "></path></g><g id="Eagle" transform="translate(374.326145, 14.359995) rotate(-1.000000) translate(-374.326145, -14.359995) translate(340.826145, 1.359995)" fill="%23505E52"><path d="M35.1854605,20.5780157 C33.600498,16.1948352 36.7036861,12.5424247 44.4950246,9.62078422 C52.2863631,6.6991437 59.0954844,5.70299271 64.9223884,6.63233126 C54.0840837,5.00573274 46.0930064,5.53252504 40.9491566,8.21270818 C34.9367649,11.3454417 33.0155329,15.4672109 35.1854605,20.5780157 Z" id="Wing2" transform="translate(49.622331, 13.144419) rotate(21.000000) translate(-49.622331, -13.144419) "></path><path d="M2.97129565,20.7381464 C1.38633317,16.354966 4.48952119,12.7025555 12.2808597,9.78091494 C20.0721983,6.85927442 26.8813195,5.86312343 32.7082235,6.79246198 C21.8699188,5.16586346 13.8788415,5.69265576 8.73499171,8.3728389 C2.72260002,11.5055724 0.801368001,15.6273416 2.97129565,20.7381464 Z" id="Wing1" transform="translate(17.408166, 13.304550) scale(-1, 1) rotate(21.000000) translate(-17.408166, -13.304550) "></path></g><g id="Eagle" transform="translate(440.645924, 48.067214) rotate(14.000000) translate(-440.645924, -48.067214) translate(387.645924, 26.067214)" fill="%23627564"><path d="M56.4171958,35.4276265 C53.0124841,26.160567 57.4077603,19.2596436 69.6030242,14.7248564 C81.7982882,10.1900691 92.7451789,9.41467171 102.443696,12.3986642 C84.4229503,7.05713605 71.4566397,6.65231976 63.5447646,11.1842153 C54.2969651,16.4813239 51.9211089,24.562461 56.4171958,35.4276265 Z" id="Wing2" transform="translate(78.327330, 21.745818) rotate(21.000000) translate(-78.327330, -21.745818) "></path><path d="M5.81021857,35.7668417 C2.40550684,26.4997821 6.80078297,19.5988588 18.996047,15.0640715 C31.1913109,10.5292843 42.1382017,9.75388686 51.8367191,12.7378793 C33.815973,7.3963512 20.8496624,6.99153491 12.9377873,11.5234305 C3.68998783,16.8205391 1.31413157,24.9016761 5.81021857,35.7668417 Z" id="Wing1" transform="translate(27.720353, 22.085033) scale(-1, 1) rotate(21.000000) translate(-27.720353, -22.085033) "></path></g></g><path d="M743,212 C744.085501,212.713753 744.752168,213.38042 745,214 C745.247832,214.61958 745.247832,215.61958 745,217 C744.606379,218.59271 743.939712,219.926043 743,221 C741.590432,222.610935 742,222 740,224 C738,226 737.973224,228.117577 739,230 C740.026776,231.882423 745.2304,231.693601 744,236 C743.179733,238.870933 740.179733,241.5376 735,244 L758,244 C759.86367,241.31835 760.530337,238.651684 760,236 C759.204495,232.022474 756.643776,230.638973 755,229 C753.814104,227.817568 750.615127,226.957182 750,225 C749.009715,221.849158 751,219 751,217 C751,215.242714 749.873669,214.873669 749,214 C748.417554,213.417554 747.417554,212.750887 746,212 L743,212 Z" id="Path-2" fill="url(%23linearGradient-9)"></path></g></svg>');
}

@supports (pointer-events: none) {
  .decorative {
    pointer-events: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 500px) {
  footer {
    margin-bottom: 100px;
  }
  .decorative {
    height: 100px;
    background-size: 618px 100px;
  }
}
@media (min-width: 700px) and (min-height: 300px) {
  footer {
    margin-bottom: 175px;
  }
  .decorative {
    height: 175px;
    background-size: 1081px 175px;
  }
}
@media (min-width: 900px) and (min-height: 500px) {
  footer {
    margin-bottom: 200px;
  }
  .decorative {
    height: 200px;
    background-size: 1235px 200px;
  }
}
@media (min-width: 1100px) and (min-height: 700px) {
  footer {
    margin-bottom: 243px;
  }
  .decorative {
    height: 243px;
    background-size: 1500px 243px;
  }
}

/*
.olly-transition-group {
}
*/
.olly-transition {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s all ease-out;
  transform-origin: bottom center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.js .olly-transition-hidden {
  opacity: 0;
  transform: translateY(1rem);
}
